/**
 * Embedded normalize.css for css resets.
 */
@import (inline) "normalize/normalize.css";

/**
 * Custom resets.
 */
* {
  margin : 0;
  padding : 0;
}

html {
  min-height : 100%;
  position : relative;
}

/**
 * Clearfix for float resets.
 */
.clearfix {
  &:before,
  &:after {
    content : " ";
    display : table;
  }
  &:after {
    clear : both;
  }
  *zoom : 1;
}

/**
 * Helper classes.
 */
.left {
  float : left;
}

.right {
  float : right;
}

.inline {
  display : inline;
}

.inline-block {
  display : inline-block;
}

// inline list
ol, ul {
  &.list-inline > li {
    .inline-block();
  }
}

// mixin for page sizing
.simplesize() {
  max-width : @page-width;
  min-width : @page-min-width;
  margin : 0 auto;
}

/**
 * Container for sizing elements on the page.
 */
.container {
	padding : @padding;
  .simplesize();
}
