/**
 * Embedded normalize.css for css resets.
 */
@import (inline) "normalize/normalize.css";

/**
 * Scaffolding
 */
* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

html {
  min-height : calc(100% - 1px);
  position : relative;
}

body {
  font-size : @font-size;
  line-height : @line-height;
  color : @text-color;
}

img {
  display : block;
}

/**
 * Helper classes.
 */
// float resets
.clearfix {
  &:before,
  &:after {
    content : " ";
    display : table;
  }
  &:after {
    clear : both;
  }
  *zoom : 1;
}

.left {
  float : left;
}

.right {
  float : right;
}

.inline {
  display : inline;
}

.inline-block {
  display : inline-block;
}

// inline list
ol, ul {
  &.list-inline > li {
    .inline-block();
  }
}

// vertical align an element
.vertical-align {
  /* the parent must be position relative */
  //position : absolute;
  //top : 50%;
  //transform : translateY(-50%);
  //-ms-transform : translateY(-50%);
  //-webkit-transform : translateY(-50%);
}

/**
 * Mixins
 */
// semi-responsive sizing
.simplesize() {
  max-width : @page-width;
  min-width : @page-min-width;
  margin : 0 auto;
}

/**
 * Components
 */
.container {
	padding : @padding;
  .simplesize();
}
