/**
 * Form styling
 */

.form-group {
  margin : @form-group-margin 0;
}

input,
select {
  display : inline-block;
  // size of button
  height : floor(@font-size * @line-height + @padding * 2 + 2);
  padding : @padding @padding * 2;
  background-image : none;
  border: 1px solid @border-color;
  border-radius : @border-radius;
  vertical-align : middle;
}

