
// default header height
@header-height : 50px;
// default header background
@header-background-color : #fff;

/**
 * Normal header.
 */
.header {
  height : @header-height - 10px;
  padding : 5px;
  min-width : @page-width;
  .clearfix();
}

/**
 * Fixed header.
 */
.header.header-fixed {
  position : fixed;
  top : 0;
  left : 0;
  right : 0;
  background-color : @header-background-color;
  // to make sure you don't go over offset
  overflow-y : hidden;
}

// height offset at top of page for fixed headers
.header-fixed-offset {
  height : @header-height;
}
