
// default header height
@header-height : 50px;

// default header background
// adjust as needed
// TODO expose on an api
@header-background-color : #fff;

/**
 * Normal header.
 */
.header {
  height : @header-height;
}

/**
 * Content inside a header should 
 * be sized with the page.
 */
.header > .header-content {
  @padding : 5px;
  height : @header-height - (@padding * 2);
  padding : @padding;
  overflow : hidden;
  .simplesize();
  .clearfix();
}

/**
 * Fixed header.
 */
.header.header-fixed {
  position : fixed;
  top : 0;
  left : 0;
  right : 0;
  background-color : @header-background-color;
}

// height offset at top of page for fixed headers
.header-fixed-offset {
  height : @header-height;
}
