/**
 * Parallax layout.
 */

.parallax {
  height : auto;
  max-width : 100%;
  background-attachment : fixed;
  background-position : top center;
  background-size : cover;
  position : relative;
}


