/**
 * Table styling for responsiveness.
 */

table {
  width : 100%;
  margin-bottom : @margin;
  // a dashboard of items
  &.table-dashboard {
    table-layout : fixed;
    white-space : nowrap;
    // the row is hoverable and bordered
    & tr {
      border : 1px solid @border-color;
      border-left : medium solid @border-color;
      cursor : pointer;
      &:hover {
        border-left : medium solid @table-hover-border-color;
      }
      // cells for thumbnails, content, and status
      & > td {
        padding : @cell-padding;
        vertical-align : middle !important;
        &.cell-thumb {
          width : @cell-thumb-width;
        }
        &.cell-content {
          overflow : hidden;
        }
        &.cell-status {
          width : @cell-status-width;
          text-align : center;
        }
      }
    }
  }

}

