/**
 * Table styling for responsiveness.
 */

table {
  width : 100%;
  margin-bottom : @margin;
  border : 1px solid @border-color;
  & > thead,
  & > tbody,
  & > tfoot {
    & > tr {
      & > td {
        border : 1px solid @border-color;
        padding : @cell-padding;
        vertical-align : middle;
      }
    }
  }
  // hoverable rows
  &.table-hover {
    & > thead,
    & > tbody,
    & > tfoot {
      & > tr {
        .hover-row();
      }
    }
  }
  // a dashboard of items
  &.table-dashboard {
    table-layout : fixed;
    white-space : nowrap;
    & > thead,
    & > tbody,
    & > tfoot {
      & > tr {
        .hover-row();
        // cells for thumbnails, content, and status
        & > td {
          &.cell-thumb {
            width : @cell-thumb-width;
          }
          &.cell-content {
            overflow : hidden;
          }
          &.cell-status {
            width : @cell-status-width;
            text-align : center;
          }
        }
      }
    }
  }
}

// mixin for row hover
.hover-row() {
  cursor : pointer;
  border-left : medium solid @border-color;
  &:hover {
    border-left : medium solid @table-hover-border-color;
  }
}

