/**
 * Global vars for page layouts.
 */

// default header height
@header-height : 50px;

// default fixed header background
@header-background-color : #fff;

// page width
@page-width : 960px;
@page-min-width : 800px;

// column left and right margin
@column-margin : 5px;

// max number of columns in a row
@max-row-columns : 12;

// footer height
@footer-height : 50px;

