@gray : #ccc;

* {
  margin : 0;
  padding : 0;
}

html,
body {
  height : 100%;
}

/**
 * Float fix hack.
 */
.clearfix {
  &:before,
  &:after {
    content : " ";
    display : table;
  }
  &:after {
    clear : both;
  }
  *zoom : 1;
}

/**
 * Default stylings for the header tag.
 */
header {
  padding : 10px 0;
  // all elements float left
  & > * {
    float : left;
    display : block;
    margin : 0 10px;
  }
  // forms float right
  & > form {
    float : right;
  }
  // navs have special behavior
  & > nav {
    margin-top : 9px;
    margin-bottom : 10px;
    & ul li,
    & ol li {
      display : inline;
      margin-right : 2px;
    }
  }
  // nice looking border
  border-bottom : 1px solid @gray;
  // fix the floats
  .clearfix();
}

/**
 * Input elements spaced nicely.
 */
input,
textarea,
select {
  height : 18px;
  padding : 6px 12px;
}

/**
 * Buttons sized nicely.
 */
button {
  padding : 6px 12px;
}

