/**
 * Nav styles
 */

nav,
.nav {
  &.nav-tabs {
    border-bottom : 1px solid @border-color;
    > ul {
      margin-bottom : -1px;
      > li {
        .nav-tab();
      }
    }
  }
  &.nav-pills {
    & > ul > li {
      .nav-pill();
    }
  }
}

ul.nav {
  &.nav-tabs {
    border-bottom : 1px solid @border-color;
    margin-bottom : -1px;
    & > li {
      .nav-tab();
    }
  }
  &.nav-pills {
    & > li {
      .nav-pill();
    }
  }
}

.nav-tab() {
  .inline-block();
  padding : @padding;
  border : 1px solid transparent;
  border-top-left-radius : @border-radius;
  border-top-right-radius : @border-radius;
  &.selected {
    border : 1px solid @nav-tab-border-color;
    border-bottom : 1px solid transparent;
    background-color : @nav-tab-background-color;
  }
  &:hover {
    cursor : pointer;
  }
}

.nav-pill() {
  .inline-block();
  padding : @padding;
  border : 1px solid transparent;
  border-radius : @border-radius;
  &.selected {
    border : 1px solid @nav-pill-border-color; 
    background-color : @nav-pill-background-color;
  }
  &:hover {
    cursor : pointer;
  }
}

