/**
 * Table styling for responsiveness.
 */

table {
  width : 100%;
  margin-bottom : @margin;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding : @cell-padding;
        vertical-align : middle;
        text-align : left;
        border-bottom : 1px solid @border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width : 2px;
    }
  }
  // nested table
  & table {
    @nested-margin : @cell-padding + 1;
    @adjust : @nested-margin * 2;
    margin : -@nested-margin;
    width : calc(~'100% + @{adjust}'); 
  }
  // bordered table
  &.table-bordered {
    border : 1px solid @border-color;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          border : 1px solid @border-color;
        }
      }
    }
  }
  // hoverable rows
  &.table-hover {
    > tbody > tr {
      &:hover {
        cursor : pointer;
        background-color : @table-hover-color; 
      }
    }
  }
  // a dashboard of items
  &.table-dashboard {
    border : 1px solid @border-color;
    table-layout : fixed;
    > tbody {
      > tr {
        &:hover {
          cursor : pointer;
        }
        > td {
          &.dash-control {
            text-align : center;
            width : @dash-control-width;
            // adjust for border
            &:first-child, 
            &:last-child {
              width : @dash-control-width + 1;
            }
          }
          &.dash-content {
            text-align : left;
            white-space : nowrap;
            overflow : hidden;
          }
        }
      }
      > tr:not(:hover) {
        > td.dash-anchor {
          // anchor will be light until hovered
          color : @dash-anchor-color;
        }
      }
    }
  }
}

